.bird {
  &-card {
    display: flex;
    padding: 1rem;
    border: 1px solid #444;
    color: #fff;
    background-color: hsl(210, 10%, 23%);
    width: 100%;
  }
}

.bird-details {
  display: flex;

  @media (max-width: 570px) {
    flex-direction: column;
  }

  &_image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
  }

  &_name {
  }

  &_species {
  }

  &_description {
    margin-top: 1rem;
  }
}
.card-body {
  padding: 0rem;
  justify-content: space-between;

}
.list-group-item {
  padding: 0.25rem;
  background-color: #303030;
  border: 1px solid #555;
}
// .bird {
//   &-card {
//     &.small-size {
//       min-height: 300px;
//     }
//     display: flex;
//     padding: 1rem;
//     border: 1px solid #444;
//     color: #fff;
//     background-color: hsl(210, 10%, 23%);
//     width: 100%;
//   }

//   &-image {
//     width: 200px;
//     height: 155px;
//     border-radius: 10px;
//     object-fit: cover;
//     margin-right: 2rem;
//   }
//   &-info {
//     background-color: inherit;
//     width: calc(100% - 240px);
//     @media (max-width: 992px) {
//       width: 100%;
//     }
//   }
// }

// .card-body {
//   display: flex;
//   padding: 0rem 1rem;
//   flex-direction: row;
//   // min-height: 173px;
// }

// .instruction span {
//   display: block;
// }

// .list-group-item {
//   padding: 0.25rem;
//   background-color: #343a40;
//   border: 1px solid #555;
// }
